---
- name: Download Prometheus
  get_url:
    url: https://github.com/prometheus/prometheus/releases/download/v2.51.0/prometheus-2.51.0.linux-amd64.tar.gz
    dest: /tmp/prometheus.tar.gz

- name: Extract Prometheus
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp/
    remote_src: yes

- name: Move Prometheus binaries
  copy:
    src: /tmp/prometheus-2.51.0.linux-amd64/{{ item }}
    dest: /usr/local/bin/{{ item }}
    mode: "0755"
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Create Prometheus directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Copy Prometheus config
  copy:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
    mode: "0644"

- name: Create Prometheus systemd service
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/prometheus \
        --config.file=/etc/prometheus/prometheus.yml \
        --storage.tsdb.path=/var/lib/prometheus/
      Restart=always

      [Install]
      WantedBy=multi-user.target
    mode: "0644"

- name: Enable and start Prometheus
  systemd:
    name: prometheus
    enabled: yes
    state: started
    daemon_reload: yes